.m-10 {
  margin: 10px;
}
.m-10-sx {
  margin: 10px 0;
}
.m-10-zy {
  margin: 0px 10px;
}
.m-10-l {
  margin-left: 10px;
}
.m-10-r {
  margin-right: 10px;
}
.m-10-t {
  margin-top: 10px;
}
.m-10-b {
  margin-bottom: 10px;
}
.p-10 {
  padding: 10px;
}
.p-10-sx {
  padding: 10px 0;
}
.p-10-zy {
  padding: 0 1px;
}
.p-10-t {
  padding-top: 10px;
}
.p-10-r {
  padding-right: 10px;
}
.p-10-b {
  padding-bottom: 10px;
}
.p-10-l {
  padding-left: 10px;
}
.font-12 {
  font-size: 12px;
}
